    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.second-container {
  border: 2px solid black;
  height: 22rem;
  width: 27rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--hint-yellow);
  z-index: 1000;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}

.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid black;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

.input-group {
  position: relative;
  display: flex;
  align-items: center;
}

.signup h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  font-weight: 800;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.signup input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup h4 {
      display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  font-size: 18px;
}

.signupdata {
  height: 40px;
  width: 20rem;
  font-size: 18px;
  margin-top: 15px;
  position: relative;
  border-radius: 15rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: none;
}

.input-group .icon {
  position: absolute;
  left: 11px;
  top: 49%;
  z-index: 99;
}

.signbtn {
  height: 35px;
  width: 8rem;
  border-radius: 8px;
  border: none;
  margin-top: 1rem;
  background-color: white;
  color: black;
  cursor: pointer;
  border: 2px solid black;
}

.sig-btn {
  display: flex;
  justify-content: center;
}
.signbtn:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  transition: 1s;
}
.loginbtn:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  transition: 1s;
}

/* login */

.login {
  display: none;
}

.login h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  font-weight: 800;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.login input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  font-size: 18px;
}

.logindata {
  height: 40px;
  width: 20rem;
  font-size: 18px;
  margin-top: 15px;
  position: relative;
  border-radius: 15rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: none;
}

.lo-btn {
  display: flex;
  justify-content: center;
}

.loginbtn {
  height: 35px;
  width: 8rem;
  border-radius: 8px;
  border: none;
  margin-top: 1rem;
  background-color: white;
  color: black;
  border: 2px solid black;
  cursor: pointer;
}

@media screen and (max-width: 780px) {
  .second-container {
    border: 2px solid var(--gold-finger);
    height: 22rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .signupdata {
    width: 17rem;
  }

  .logindata {
    width: 17rem;
  }
}
