h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 15px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}



body{
    width: 100%;
}

.dark-mode{
    background-color: black;
    color: white;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    height: 120px;

}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;

}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;

}
.fa-circle-user{
    font-size: 20px;
}


#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;

}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:after::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}


#mobile{
    display: none;
    align-items: center;
}

#close{
    display: none;
}

#hero{
    background-image: url(/assets/mening1.jpeg);
    height: 50vh;
    width: 87vw;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    color: white;
    
}
#hero p{
    color: white;
}
#hero h4{
    padding-bottom: 15px;
    color: white;
}

#hero h1{
    color: whitesmoke;
    font-size: 40px;
    
}
#hero h2{
    font-size: 40px;
}
#hero button{

    background-color: transparent;
    color: white;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    transition: 0.5s;
    
}
#hero button:hover{
    background: white;
    color: black;
    border: 3px double gray;
    transition: 0.5s;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 170px;
    text-align: center;
    padding: 5px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;margin: 15px 0;

}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);

}
#feature.fe-box img{
    width: 100%;
    margin-bottom: 10px;
}
#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 1px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;

}

#feature .fe-box:nth-child(3) h6{
    background-color: #cdd4f8;

}

#feature .fe-box:nth-child(4) h6{
    background-color: yellowgreen;

}

#feature .fe-box:nth-child(5) h6{
    background-color: #f6db;

}

#product1{
    text-align: center;
    font-size: 25px;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
    
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4{
    padding-top: 17px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 25px;
    right: 10px;
}


#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(/assets/banner2.jpeg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color: black;
    font-size: 16px;
}

#banner h2{
    color: black;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span{
    color: #ef3636;
}

#banner button:hover{
    background-color: #088178;
    color: #fff;
}






footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}


footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}

footer.follow i:hover,
footer a:hover{
    color: #088178;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

/* Shop Page */
#page-header{
    background-image: url(/assets/banner1.jpeg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}


#page-header h2,
#page-header p{
    color: #fff;
}

#pagination{
    text-align: center;
}

#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#pagination a i{
    font-size: 16px;
    font-weight: 600;
}
/* Single Product */

#prodetails{
    display: flex;
    margin-top: 20px;
}



#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
    top: 20px;

}

.small-image-group{
    display: flex;
    justify-content: flex-start;
    top: 90px;
}
.small-image-col{
    flex-basis: 10%;
    cursor: pointer;
}


#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}
#prodetails .single-pro-details h2{
    font-size: 26px;
}

#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    margin-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#prodetails .single-pro-details input:focus{
    outline: none;
}

#prodetails .single-pro-details button {
    background: #088178;
    color: #fff;
}

#prodetails .single-pro-details span{
    line-height: 25px;
}

/* blog-header */
#page-header.blog-header{
    background-image: url(/assets/banner123.jpeg);

}
#blog{
    padding: 150px 150px 0 150px;
}

#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 90px;
}

#blog .blog-img{
    width: 50%;
    margin-right: 40px;

}

#blog img{
    width: 100%;
    height: 350px;
    object-fit: coer;
}


#blog .blog-details{
    width: 50%;
    
}

#blog .blog-details a{
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}

#blog .blog-details a::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 4px;
    right: -60px;
}

#blog .blog-details a:hover{
    color: #088178;
}

#blog .blog-details a:hover::after{
    background-color: #088178;
}

/* About Page */
#page-header.about-header{
    background-image: url(/assets/bani.jpeg);

}

#about-head {
    display: flex;
    align-items: center;
}

#about-head img {
    width: 100%;
    height: auto;
}

#about-head div{
    padding-left: 40px;
}

/* Contact-details */

#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form span{
    font-size: 15px;

}

#form-details form h2{
    font-size: 30px;
    line-height: 35px;
    padding: 20px 0;
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;

}

#form-details form button{
    background-color: #088178;
    color: #fff;


}

#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

#cart {
    overflow-x: auto;
}


/* Cart Page */
#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img{
    width: 70px;
}

#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#caet table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    padding: 18px 0;
}

#cart table tbody tr td {
    padding-top: 15px;


}

#cart table tbody td {
    font-size: 13px;
}

#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon{
    width: 50%;
    margin-bottom: 30px;

}

#coupon h3,
#subtotal h3{
    padding-bottom: 15px;
}

#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}

#coupon button,
#subtotal button{
    background-color: #088178;
    color: #fff;
    padding: 12px 20px;
}

#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 3px solid #e2e9e1;
    padding: 20px;
}

#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}








@media (max-width:799px) {
    .section-p1{
        padding: 40px 40px;
    }
    

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 100px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }


    #navbar.active{
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile{
    display: flex;
    align-items: center;
  }

  #mobile i{
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }

  #close{
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
  }


  #lg-bag{
    display: none;
  }


  #hero{
    height: 70vh;
    padding: 0 80px;
    background-color: top 30% right 30%;
  }

  #feature{
    justify-content: center;
  }

  #feature .fe-box{

    margin: 15px 15px;
  }

  #product1 .pro-container{
    justify-content: center;
  }

  #product1 .pro{
    margin: 15px;
  }

  /* Contact Page */
  #form-details{
    padding: 40px;
  }

  #form-details form{
    width: 60%;
  }


}


@media (max-width: 477px) {
    .section-p1 {
        padding: 20px;
    }

    #header{
        padding: 10px 30px;
    }

    h1{
        font-size: 38px;
    }

    h2{
        font-size: 32px;
    }
    

    #hero{
        padding: 0 20px;
        background-position: 55%;
    }

    #feature{
        justify-content: space-between;
    }


    #feature .fe-box{
        width: 155px;
        margin: 0 0 15px 0;
    }

    #product1 .pro{
        width: 100%;
    }

    #banner{
        height: 40vh;
    }

    #newsletter{
        padding: 40px 20px;
    }

    #newsletter .form{
        width: 100%;
    }



    footer .copyright{
        text-align: start;
    }

    /* Single Product */
    #prodetails{
        display: flex;
        flex-direction: column;
    }

    #prodetails .single-pro-image{
        width: 100%;
        margin-right: 0px;
    }

    #prodetails .single-pro-details{
        width: 100%;
        
    }

    /* Blog Page */

    #blog{
        padding: 100px 20px 0 20px;
    }

    #blog .blog-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
    }

    #blog .blog-img{
        width: 70%;
        margin-right: 0px;
        margin-bottom: 30px;
    }

    #blog .blog-details{
        width: 70%;
    }

    /* About Page */
    #about-head{
        flex-direction: column;
    }

    #about-head img{
        width: 100%;
        margin-bottom: 20px;
    }
    #about-head .video{
        padding-left: 0px;
    }



    /* Contact Page */
    #contact-details{
        flex-direction: column;
        
    }

    #contact-details .details{
        width: 100%;
        margin-bottom: 30px;
    }

    #form-details{
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }

    #form-details form{
        width: 100%;
        margin-bottom: 30px;
    }

    /* Cart Page */

    #cart-add{
        flex-direction: column;
    }

    #coupon{
        width: 100%;
    }

    #subtotal{
        width: 100%;
        padding: 20px;
    }




    
}
